name: Go Lint
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  GOLANGCI_LINT_VERSION: "v2.7.2"
jobs:
  go:
    name: Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
      - name: Run go test with coverage
        run: go test -v -coverprofile=./cover.out ./...
      - name: Print test coverage
        if: failure() || success()
        run: go tool cover -func=./cover.out
